.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 37px 0 0 18px;
  background-color: transparent;
  background-image: url(../../../images/scientist__button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:focus {
  opacity: 0.6;
}

@media (max-width: 688px) {
  .profile__edit-button {
    margin: 33.25px 0 0 10px;
    width: 18px;
    height: 18px;
  }
}