.popup-places__places-input {
  display: block;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding: 0 0 12px 0;
  border: 0;
  width: 83.25581395348837%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  outline: none;
}

.popup-places__places-input:last-of-type {
  margin: 30px auto 0 auto;
}

@media (max-width: 546px) {
  .popup-places__places-input {
    width: 238px;
  }
}