.places__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-columns: 282px;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  justify-content: center;
}

@media (max-width: 919px) {
  .places__grid {
    margin: 0 19px;
  }
}