.popup-places__container {
  width: 470px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

@media (max-width: 546px) {
  .popup-places__container {
    width: 282px;
  }
}