.popup__container {
  width: 470px;
  height: 370px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 155px auto 0 auto;
}

@media (max-width: 546px) {
  .popup__container {
    width: 282px;
    height: 358px;
  }
}