.popup-places__places-input_subtitle_error {
	display: block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	align-self: center;
	color: rgba(255, 0, 0, 1);
	font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
	margin-top: 5px;
  border: 0;
  width: 83.25581395348837%;
  box-sizing: border-box;
}

@media (max-width: 546px) {
  .popup-places__places-input_subtitle_error {
    width: 238px;
  }
}