.places {
  padding: 51px 0 0 0;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-columns: 282px;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  justify-content: center;
}

@media (max-width: 919px) {
  .places {
    margin: 0 19px;
    padding: 36px 0 0 0;
  }
}