.profile__button-add {
  width: 150px;
  height: 50px;
  margin: 35px 0 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../../images/button-add.svg);
  background-position: center;
  border: 2px solid white;
  border-radius: 2px;
  padding: 0 10px;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.6;
}

.profile__button-add:focus {
  opacity: 0.6;
}

@media (max-width: 919px) {
  .profile__button-add {
    margin: 35px 19px 0 0;
  }
}

@media (max-width: 754px) {
  .profile__button-add {
    width: 282px;
    margin: 31px auto 0 auto;
  }
}

@media (max-width: 330px) {
  .profile__button-add {
    background-image: url(../../../images/edit_16px.svg);
  }
}