.profile__title {
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 22px 0 0 0;
  padding: 0;
	text-overflow: ellipsis; 
	white-space: nowrap;   
	overflow: hidden;
	max-width: 450px;
}

@media (max-width: 688px) {
  .profile__title {
    margin: 26px 0 0 28px;
    font-size: 27px;
    line-height: 33px;
		max-width: 300px;
  }
}

@media (max-width: 400px) {
  .profile__title {
		max-width: 215px;
  }
}